/* General CSS Layout */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
}

h1{
  text-align: center;
  background-color: black;
  color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2, .footer a{
  color:whitesmoke;
  text-align: center;
}

h3,p,h5, #description{
  color:whitesmoke
}

body{
  background-color: rgb(35, 35, 31);
}

.Menu{
  padding-bottom: 20px;
  margin-top: -5px;
}

.footer{
  background-color: rgb(60, 74, 85);
  text-align: center;
  color: whitesmoke;
}
  
i{
  color: #ffffff7a;
}
/* General CSS Layout */


/* Class CSS */

.navright i:hover{
  color:rgb(195, 132, 226);
}





.card-text, .card-title , select, h6#product, option, input{
  color: black;
}






#Map {
  color: #fcfcfc;
  font-size: larger;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  border-color: #fcfcfc;
  margin: 20px 0px 20px 0px;
}

#Map_Text{

  padding-top: 90px;
  
}
#Map_Text h3{
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size:xx-large;
}

#Map_Text p{
  color: rgb(255, 255, 255);
  font-size: medium;
}

.image {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(2px);
}

.image__overlay--primary {
  background: #ffffff37;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 2;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}


.container{
  position: relative;
}

#divL{
  border-radius: 20px;
  margin: 0px 0px 0px 300px;
}

#divR{
  border-radius: 20px;
  float: left;
}

.row{
  margin-top: 20px;
}

#Foot{
  color: rgb(198, 164, 231);
}

#Button{
  background-color:rgb(223, 61, 61);
  border-radius: 20px;
  text-decoration: none;
  margin-left: 150px;
  color: aliceblue;
}

#nav_button{
  color: white;
  
}



#input{
  color: black;
  display: block;
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
}

#input50{
  color: black;
  display: block;
  width: 50%;
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
}

hr{
  background-color: aliceblue;
}

.footer a:hover, hover{
  color:rgb(204, 105, 204) ;
  text-decoration: none;
}

.btn-lg:hover {
  color:rgb(204, 105, 204);
  background-color: #0495c9;
  border-color: #357ebd; 
}

th, tr{
  color: #499cba;
  text-align: center;
  font-size: large;
  padding: 20px 20px 20px 20px;
}